<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="../assets/etheris.css" type="text/css"/>
  <title>Etheris</title>
</head>
<body>
<div id="container">
  <div id="header">
    <div class="wrapper">
      <h1>Etheris</h1>

      <div id="logo"><img src="../assets/logo.png" alt="Etheris"/></div>
    </div>
  </div>
  <div id="content">
    <div class="wrapper">
      <form id="form1" name="form1" method="post" action="/config" onsubmit="javascript:return formCheck(this);">
        <ul>
          <li>
            <label class="desc" for="wifi.password">
              Password <span id="req_3" class="req">*</span>
            </label>

            <div class="input_container">
              <input id="wifi.password" name="wifi.password" type="password" value="" maxlength="255" tabindex="4" required="">
            </div>
          </li>

          <li>
            <div class="input_container">
              <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Set password" tabindex="6">
            </div>
          </li>
        </ul>
      </form>
    </div>
  </div>
  <!-- #content -->
  <br class="clear"/>
</div>
<!-- #container -->
</body>
</html>
